<div class='navigation'>
  <ul>
    <li><a href='#/links'>Links</a></li>
    <li><a href='#/shorten'>Shorten</a></li>
    <li><a href='#/logout'>Logout</a></li>
  </ul>
</div>

<div id='container' ng-controller="ShortenController">
<!-- Your code here -->
<form name="shorten" ng-submit="addLink()">
  <input class='text' type='url' placeholder="Enter URL here" name='url'
         ng-model='link.url' id="url" required>
  <span ng-show="shorten.url.$error.pattern">Not a valid URL!</span>

  <button>Shorten</button>
  <div class='message'></div>
</form>
</div>


<!--Shorten-->
<!--
<div id='container'>
&lt;!&ndash; Your code here &ndash;&gt;

  <nav class="navigation">
    <ul>
      <li>
          <a href="#/links">Links</a>
      </li>
       <li>
          <a class='selected' href="#/shorten">Shorten</a>
      </li>
    </ul>
  </nav>
  <div class="creator">
    <form name='shortlyForm' ng-submit="addLink()" novalidate>
      <input name='link' type="url"
             ng-model="link.url"
             placeholder="Enter your url here" required
             ng-class="{'error': shortlyForm.$invalid && shortlyForm.$dirty}"/>

      <button type="submit" value="Shorten"
              ng-disabled='shortlyForm.$invalid'>
        add
      </button>
    </form>
    <div ng-if='shortlyForm.link.$error.required && shortlyForm.$dirty'
         class="message">
      <h2>Url required</h2>
    </div>
    <div ng-show='shortlyForm.link.$error.url && shortlyForm.$dirty'
         class="message">
      <h2>Not a valid url</h2>
    </div>
  </div>
</div>
-->
